ion-grid{
    ion-row{
        .center{
            display: flex;
            align-items: center;
            justify-content: center;
        }

        ion-card {  
            text-align: center;
            padding: 8px;
        }
    }
}