<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Prueba Técnica
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div>
    <app-gallery-filter></app-gallery-filter>
    <app-gallery-view [photoGallery]="photoGallery"></app-gallery-view>
    <!--
    <ion-card *ngFor="let photo of photoGallery">
      <img [src]='photo.photo'/>
      <ion-card-content>
        {{photo.text}}
      </ion-card-content>
    </ion-card>
  -->
  </div>

  
</ion-content>
